:root {
  --black: #2b2025;
  --blue: #99d0ec;
  --bold: "Inter-Bold", sans-serif;
  --darkBlue: #7dbcdc;
  --darkPink: #b06b8f;
  --darkViolet: #cecbdb;
  --extraLight: "Inter-Extra-Light", sans-serif;
  --light: "Inter-Light", sans-serif;
  --lightItalic: "Inter-Light-Italic", sans-serif;
  --pink: #cd82a9;
  --regular: "Inter-Regular", sans-serif;
  --semiBold: "Inter-Semibold", sans-serif;
  --violet: #f6f5fb;
  --violetMedium: #e7e5f0;
  --white: #fff;
}

/* Hero */

.work-hero {
  min-height: 660px;
  padding-top: 177px;
  padding-bottom: 75px;
}

.work-hero__left {
  padding-top: 8px;
}

.work-hero__heading {
  margin-bottom: 80px;
}

.work-hero__right {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}

.work-hero__descr {
  margin-bottom: 0;
}

.work-hero__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 652px;
  padding-left: 0;
}


/* Tasks & Result */

.tasks {
  margin-bottom: -525px;
}

.tasks__texts {
  padding-top: 216px;
}

.tasks__texts , .tasks__container {
  min-height: 1530px;
}

.result__texts , .result__container {
  min-height: 2199px;
}

.tasks-methods__heading {
  margin-bottom: 38px;
}

.tasks__item {
  width: 106%;
  min-height: 102px;
  padding: 30px 11px;
}

.tasks__item_result {
  min-height: 80px;
  padding: 28px 11px;
  background-color: var(--darkPink);
}

.tasks__text {
  width: 100%;
  font-size: 18px;
  line-height: 22px;
}

.tasks__text_result {
  font-family: var(--regular);
}

.tasks-methods__right {
  margin-top: 824px;
  padding-left: 127px;
}

.tasks-cont__right {
  position: relative;
  z-index: 2;
  margin-top: 508px;
  background-color: var(--darkViolet);
}

.tasks-cont__right_result {
  margin-top: 849px;
}

.result__list {
  margin-bottom: 113px;
}

.result__right {
  margin-top: 839px;
  padding-left: 96px;
}

.result__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 6;
  right: -57px;
  height: 857px;
  margin: 0 0 0 auto;
}

.my-methods__descr_result {
  margin-bottom: 51px;
}

.my-methods__text {
  margin-bottom: 15px;
}

.result__block {
  margin-bottom: 43px;
}

.result__block p {
  margin-bottom: 16px;
}

.result__subheading {
  margin-bottom: 20px;
}

.cta {
  padding-top: 183px;
  padding-bottom: 183px;
  background-color: var(--violet);
}

.cta__heading {
  margin-right: 163px;
  padding-right: 115px;
}


/* Media */

@media screen and (max-width: 1699px) {
  .tasks-methods__heading_result {
    width: 120%;
  }

  .cta__heading {
    margin-right: 90px;
    padding-right: 0;
  }
}

@media screen and (max-width: 1399px) {
  .work-hero__image {
    height: 528px;
  }

  .tasks__item {
    width: 115%;
    min-height: 90px;
    padding: 21px 11px;
  }

  .tasks__item_result {
    width: 140%;
  }

  .cta__heading {
    margin-right: 0;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .result__texts , .result__container {
    min-height: 2100px;
  }

  .tasks-cont__right {
    margin-top: 400px;
  }

  .tasks-methods__right {
    margin-top: 712px;
    padding-left: 62px;
  }

  .tasks__texts {
    padding-top: 155px;
  }

  .tasks__text {
    font-size: 16px;
    line-height: 20px;
  }

  .tasks__item {
    padding: 15px 11px;
  }

  .cta__heading {
    padding-right: 46px;
  }
}

@media screen and (max-width: 991px) {
  .result__texts , .result__container {
    min-height: -webkit-fit-content;
    min-height:    -moz-fit-content;
    min-height:         fit-content;
  }

  .work-hero {
    padding-top: 150px;
  }

  .work-hero__heading {
    width: 120%;
  }

  .work-hero__left {
    padding-top: 50px;
  }

  .tasks {
    margin-bottom: 0;
  }

  .tasks-methods__right {
    margin-top: 60px;
    margin-bottom: 90px;
    padding-top: 90px;
    padding-bottom: 60px;
    padding-left: calc(var(--bs-gutter-x) * .5);
    background-color: var(--darkViolet);
  }

  .tasks__texts , .tasks__container {
    min-height: -webkit-fit-content;
    min-height:    -moz-fit-content;
    min-height:         fit-content;
  }

  .tasks-methods__heading_result {
    width: 100%;
  }

  .tasks__item , .tasks__item_result {
    width: 100%;
  }

  .result__image {
    display: none;
  }

  .result__right {
    margin-top: 0;
    padding-bottom: 60px;
    padding-left: calc(var(--bs-gutter-x) * .5);
  }

  .result__list {
    margin-bottom: 90px;
  }

  .cta {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .cta__heading {
    margin-bottom: 30px;
    padding-right: calc(var(--bs-gutter-x) * .5);
  }
}

@media screen and (max-width: 930px) and (max-height: 420px) {
  .work-hero {
    padding-top: 88px;
    padding-bottom: 50px;
  }

  .work-hero__heading {
    width: 100%;
    margin-bottom: 8px;
  }

  .work-hero__descr {
    display: block;
    font-size: 16px;
  }

  .work-hero__image {
    height: 230px;
  }

  .tasks__texts {
    padding-top: 60px;
  }

  .tasks-methods__heading {
    margin-bottom: 20px;
  }

  .tasks-methods__right {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .result__list {
    margin-bottom: 60px;
  }

  .result__right {
    padding-bottom: 20px;
  }

  .cta {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .cta__heading {
    padding-right: 0;
    padding-left: 0;
  }

  .cta__contain {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .work-hero {
    padding-top: 88px;
    padding-bottom: 50px;
  }

  .work-hero__heading {
    width: 100%;
    margin-bottom: 8px;
  }

  .work-hero__descr {
    display: block;
    font-size: 16px;
  }

  .work-hero__image {
    height: 154px;
  }

  .tasks__texts {
    padding-top: 60px;
  }

  .tasks-methods__heading {
    margin-bottom: 20px;
  }

  .tasks-methods__right {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .result__list {
    margin-bottom: 60px;
  }

  .result__right {
    padding-bottom: 20px;
  }

  .cta {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .cta__heading {
    padding-right: 0;
    padding-left: 0;
  }

  .cta__contain {
    margin: 0;
  }
}

